.image-box {
  /* Here's the trick */
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.7);

  /* Basic background styles */
  background: url("homePageBackground.jpg") center center;
  background-size: cover;

  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Add a transition, just for fun */
  transition: box-shadow 0.3s ease-out;
}
.image-box:hover {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.4);
}

/* For demo only */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
}

.header-spacing {
  margin-bottom: 4rem;
}

.subheader {
  font-size: 1.25rem;
  font-style: italic;
}
.value-prop-header {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
}
.value-prop-spacing {
  margin-bottom: 2rem;
}
.lead {
  margin-bottom: 3rem;
}

.bottom-spacing {
  margin-bottom: 2rem;
}
.top-spacing {
  margin-top: 2rem;
}
.letter-spacing {
  letter-spacing: 0.15rem;
}

.smaller-letters {
  font-size: 0.9rem;
}
.smaller-letter-spacing {
  letter-spacing: 0.1rem;
}

.list-item-margin {
  margin-bottom: 0.2rem;
}
.no-bullets {
  list-style: none;
}
.boldIt {
  font-weight: bold;
}

.green-yellow-btn.btn-outline-primary:hover {
  color: #fff;
  background-color: yellowgreen;
  border-color: yellowgreen;
}

.green-yellow-btn.btn-outline-primary {
  color: greenyellow;
  border-color: greenyellow;
}

.green-yellow-btn.btn-outline-primary:not(:disabled):not(.disabled).active,
.green-yellow-btn.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .green-yellow-btn.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: greenyellow;
  border-color: darkgreen;
}

.green-yellow-btn.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.green-yellow-btn.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.green-yellow-btn.show>.green-yellow-btn.btn-outline-primary.dropdown-toggle:focus 
{
  box-shadow: 0 0 0 0.2rem rgb(50 168 82 / 50%);
}

.green-yellow-btn.btn-outline-primary.focus,
.green-yellow-btn.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(50 168 82 / 50%);
}
.green-yellow-btn.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(50 168 82 / 25%);
}

.green-yellow {
  color: greenyellow;
}
