.edit-icon {
  padding-right: 1rem;
  font-size: 1.25rem;
} 
.card {
  background-color: #f2f2f2;
}

.player-info {
  font-weight: bold;
  margin-right: 1rem;
}

.partner-btn {
  padding: .25rem;
}

.partner-card-icon {
  margin-right: .25rem;
}