thead,
td {
  text-align: center;
}
td {
  font-size: 0.75rem;
  padding-bottom: 0 !important;
  text-align: center;
}

.icon-group {
  /* text-align: center; */
  font-size: 1.1rem;
  padding-bottom: 0;
}

/* .icon-norm {
  color: #007bff;
} */

.icon-danger {
  color: red;
  cursor: pointer;
}

.inactive {
  color: grey;
}
.active {
  color: #007bff;
  cursor: pointer;
}

.icon-spacing {
  padding-bottom: 0.5rem;
}

/* .time-slots {
  padding-right: 5px;
} */

span.avail-times::first-letter {
  text-transform: uppercase;
}

/* .avail-times {
  font-weight: bold;
} */

.separator {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

/* .partner-avail {
  text-align: left;
} */

.partner-avail1 {
  display: flex;
  justify-content: center;
  text-align: left;
}

.table td,
.table th {
  border-top: none;
}

.action-row {
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.data-row {
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.btn-sm { 
  font-size: .75rem;
}